@*@model List<LogErrorsModel>*@
@{

    ViewBag.Title = ViewBag.Titulo;
    string type = "" + ViewBag.Type;

    string appname = ViewBag.AppName;
    string method = ViewBag.Method;
    string clase = ViewBag.Class;
    string errdesc = ViewBag.Error_Desc;
    string query = ViewBag.Query;
    string id = ViewBag.Err_Id;
}

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <partial name="MenuBar/MenuBar" />
            <partial name="TopNavigation/TopNavigation" />
            <!-- ***************************** contenido *********************************-->

            <div class="right_col" role="main" style="height: 100% !important;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>DETALLE DE ERRORES</h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="profile_title">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Errores reportados por las aplicaciones</h2>
                                            <div class="clearfix"></div>
                                        </div>
                               
                                        <div class="x_content">
                                            <br />
                                            <form class="" novalidate>
                                                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                         <input type="text" class="form-control has-feedback-left" value="@appname" id="inputSuccess2" placeholder="Nombre de Aplicación">
                                                         <span class="fa fa-puzzle-piece form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <input type="text" class="form-control has-feedback-left" value="@clase" id="inputSuccess2" placeholder="Clase">
                                                         <span class="fa fa-cc form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <input type="text" class="form-control has-feedback-left" value="@method" id="inputSuccess3" placeholder="Metodo">
                                                          <span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
                                                   </div>
                                                   <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                         <input type="text" class="form-control has-feedback-left" value="@query" id="inputSuccess2" placeholder="SQL Query">
                                                         <span class="fa fa-code form-control-feedback left" aria-hidden="true"></span>
                                                   </div>
                                                   <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                       <label for="message">Mensaje de Error</label>
												       <textarea id="message"  required="required" 
                                                       class="form-control" name="message" >@errdesc</textarea>
                                                   </div>
                                                   <div class="form-group">
                                                         <div class="col-md-9 col-sm-9  offset-md-3">
                                                              <br />
                                                              <br />
                                                              <a style="margin: 10px" type="submit" asp-route-id= "@id" asp-action = "ReviewError" asp-controller = "CRUD" class="btn col-md-6 btn-danger">Marcar como Revisado</a>
                                                          </div>
                                                 </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ********************************************************************** -->
            @{
                switch (type)
                {
                    case "Error":
                        <partial name="Messages/Error" />
                        break;
                    case "Success":
                        <partial name="Messages/Success" />
                        break;
                    case "Warning":
                        <partial name="Messages/Warning" />
                        break;
                    case "Info":
                        <partial name="Messages/Info" />
                        break;
                }
            }
            <footer>
                <div class="text-center">

                    <div class="border-top pt-5">
                        <p class="copyright">

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="#" target="_blank">IS13Company</a>

                        </p>
                    </div>

                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>

                </div>
            </footer>

        </div>
    </div>



</body>
